<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagarmeps</name>
	<displayName><![CDATA[Pagar.Me]]></displayName>
	<version><![CDATA[2.0.1]]></version>
	<description><![CDATA[O Pagar.me aprova 92 a cada 100 tentativas de pagamento para aumentar sua receita com conversão de gateway e facilidade de PSP.]]></description>
	<author><![CDATA[Pagar.me]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
